# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
.env
# Environment Variables


# IDE
.vscode/
.idea/

# Database / Vector Store
data/
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Uploaded RAG Documents
docs/*
!docs/.gitkeep